@charset "UTF-8";
 td {
 	 border: 1px solid black; 
 	 height: 30px;
 	
 	  }
.reg1{
		width:150px;
		font-size:13px;
		margin: 0 auto;
		text-align: center;
}
.reg2{
		width:300px;
		height:30px;
		font-size:13px;
		margin: 0 auto;
		text-align: center;
}
.reg3{
		width:70px;
		font-size:13px;
		margin: 0 auto;
		text-align: center;
}
.no1{
	width:41px;
	font-size:13px;
	margin: 0 auto;
	text-align: center;
}
.long{
	width:1200px;
	font-size:13px;
	margin: 0 auto;
	text-align: center;
}

.chart1{
	width:1200px;
	height:50px;
	margin: 0 auto;
	text-align: center;
}
.chart2{
	width:1200px;
	height:500px;
	margin: 0 auto;
	text-align: center;
}
