<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">
   
   <!-- annotation 구성요소들을 검색한다 -->
   <context:component-scan base-package="d2jy.*"></context:component-scan>
   
   <!-- annotation 기반의 MVC Controller 프로그래밍 모델을 구성 -->
   <mvc:annotation-driven />
   
   <!--  css, fonts, img, icon 사용설정  -->
   <mvc:resources location="/WEB-INF/assets/css/" mapping="/css/**" />
   <mvc:resources location="/WEB-INF/assets/fonts/" mapping="/fonts/**" />
   <mvc:resources location="/WEB-INF/assets/img/" mapping="/img/**" />
   <mvc:resources location="/WEB-INF/assets/js/" mapping="/js/**" />
   <mvc:resources location="/WEB-INF/assets/icon/" mapping="/icon/**" />
   <mvc:resources location="/WEB-INF/assets/skins/" mapping="/skins/**" />

   <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
       <property name="prefix"  value="/WEB-INF/views/" />
       <property name="suffix"  value =".jsp" />
   </bean>
      
   <bean id="dataSource" 
     class="org.apache.commons.dbcp.BasicDataSource" 
     destroy-method="close">
      <property name="driverClassName" value="oracle.jdbc.OracleDriver" />
      <property name="url" value="jdbc:oracle:thin:210.119.12.125:1521:xe" />
      <property name="username" value="d2jy" />
      <property name="password" value="d2jy" />
   </bean>
    
<!--myBatis와 스프링 연동작업을 위한 SqlSessionFactory 설정
    SqlSessionFactory : DB 연결과 sql의 실행에 대한 객체
-->
    
   <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
      <property name="dataSource" ref="dataSource"></property>
      <property name="mapperLocations"
         value="classpath:myBatis/sqlmaps/*.xml"></property>   
   </bean>  
   
<!--  SQLSessionTemplate설정하기 
   	DAO인터페이스를 만들었기때문에 
   	Mybatis에서 DAO인터페이스를 구현하기위해서 필요한작업
-->
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate"
             destroy-method="clearCache">
        <constructor-arg name="sqlSessionFactory" 
             ref="sqlSessionFactory"></constructor-arg>    
    </bean>
    
<!-- MultipartResolver 설정, upload 용량 제한(단위:byte)
    <bean id="multipartResolver"
    	  class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    	<property name="maxUploadSize" value="100000000"></property>
    	<property name="maxInMemorySize" value="10000000"></property>
    </bean>
 -->
    
<!--  Interceptor 를 활용한 로그인 처리
    공통 인터셉터 
    <mvc:interceptors>
    	<mvc:interceptor>
    		<mvc:mapping path="/**"/>  모든파일에 적용 
    		<mvc:exclude-mapping path="/resources/**"/>
    		<ref bean="authInterceptor"/>
    	</mvc:interceptor>
    </mvc:interceptors>
-->
    
<!--    interceptor 에 사용할 클래스 지정
	<bean id="authInterceptor"
		   class="com.spring.interceptor.AuthInterceptor" /> 
-->
</beans>